name: 'Compile TEAL'

# **What it does**: Compiles the smart contracts into TEAL codes.
# **Why we have it**: To make sure all smart contracts compile correctly.
# **Who does it impact**: Saves the artifacts into `src/teal` directory.

on:
  workflow_dispatch:
  push:
    branches: [ main, dev ]
  pull_request:
    branches: [ main, dev ]

permissions:
  contents: write

jobs:
  compile-TEAL:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/requirements.txt
          pip install -r src/test/requirements.txt

      - name: Setup Algorand sandbox
        run: |
          cd src/test/sandbox
          ./sandbox up -v

      - name: Compile contracts to TEAL code
        run: |
          make compile-teal

      - name: Upload TEAL code as artifact
        uses: actions/upload-artifact@v3
        with:
          name: teal-code
          path: |
            src/teal
            !src/teal/*.py

      - name: Teardown Algorand sandbox
        if: success() || failure()
        run: |
          . src/test/sandbox-scripts/sandbox_teardown.sh

  run-tests:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: 'true'

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r src/requirements.txt
          pip install -r src/test/requirements.txt

      - name: Setup Algorand sandbox
        run: |
          cd src/test/sandbox
          ./sandbox up -v dev
      
      - name: Run tests
        run: |
          make test-no-sandbox

      - name: Upload test report as artifact
        uses: actions/upload-artifact@v3
        with:
          name: test-reports
          path: |
            src/test/reports
